Repository broadinstitute/cromwell, pull requests merged in 2018-03, with the labels that each got.

#3330 Adding struct-to-wom (except if nested)
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/StructElement.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/TypeElement.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/graph/LinkedGraph.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/AstToStructElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/package.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/linking/expression/package.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/linking/expression/types/package.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/linking/graph/LinkedGraphMaker.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/linking/typemakers/package.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/wdlom2wom/FileElementToWomBundle.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/wdlom2wom/WorkflowDefinitionElementToWomWorkflowDefinition.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/wdlom2wom/expression/WdlomWomExpression.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/wdlom2wom/graph/WorkflowGraphElementToGraphNode.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/wdlom2wom/package.scala
  wdl/transforms/draft3/src/test/cases/input_types.wdl
  wdl/transforms/draft3/src/test/cases/struct_definition.wdl
  wdl/transforms/draft3/src/test/scala/wdl/draft3/transforms/ast2wdlom/WdlFileToWdlomSpec.scala
  wdl/transforms/draft3/src/test/scala/wdl/draft3/transforms/wdlom2wom/WdlFileToWomSpec.scala
Labels: WDL Team PR

#3331 Struct evaluation
  centaur/src/main/resources/standardTestCases/draft3_struct_output.test
  centaur/src/main/resources/standardTestCases/wdl_draft3/struct_output/struct_output.wdl
  wdl/model/draft3/src/main/scala/wdl/model/draft3/graph/expression/ValueEvaluator.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/linking/expression/values/package.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/wdlom2wom/expression/WdlomWomExpression.scala
  wdl/transforms/draft3/src/test/scala/wdl/draft3/transforms/wdlom2wom/WdlFileToWomSpec.scala
  wom/src/main/scala/wom/values/WomMap.scala
Labels: Red Thumb Required, WDL Team PR

#3363 One thumb for centaur changes
  .pullapprove.yml
Labels: Red Thumb Required

#3355 Member access, binary, unary and if/then/else expression evaluation
  backend/src/main/scala/cromwell/backend/BackendLifecycleActorFactory.scala
  backend/src/main/scala/cromwell/backend/BackendWorkflowInitializationActor.scala
  backend/src/main/scala/cromwell/backend/async/KnownJobFailureException.scala
  backend/src/main/scala/cromwell/backend/validation/RuntimeAttributesValidation.scala
  backend/src/test/scala/cromwell/backend/BackendSpec.scala
  backend/src/test/scala/cromwell/backend/wdl/OutputEvaluatorSpec.scala
  build.sbt
  common/src/test/scala/common/assertion/ErrorOrAssertions.scala
  engine/src/main/scala/cromwell/engine/workflow/lifecycle/materialization/MaterializeWorkflowDescriptorActor.scala
  engine/src/test/scala/cromwell/engine/backend/mock/DefaultBackendJobExecutionActor.scala
  engine/src/test/scala/cromwell/engine/backend/mock/RetryableBackendLifecycleActorFactory.scala
  engine/src/test/scala/cromwell/engine/workflow/lifecycle/execution/job/preparation/JobPreparationTestHelper.scala
  languageFactories/language-factory-core/src/main/scala/cromwell/languages/util/LanguageFactoryUtil.scala
  src/test/scala/cromwell/engine/workflow/lifecycle/execution/ejea/PerTestHelper.scala
  supportedBackends/bcs/src/main/scala/cromwell/backend/impl/bcs/BcsAsyncBackendJobExecutionActor.scala
  supportedBackends/jes/src/main/scala/cromwell/backend/impl/jes/JesAsyncBackendJobExecutionActor.scala
  supportedBackends/sfs/src/main/scala/cromwell/backend/impl/sfs/config/ConfigAsyncJobExecutionActor.scala
  supportedBackends/sfs/src/test/scala/cromwell/backend/sfs/SharedFileSystemJobExecutionActorSpec.scala
  supportedBackends/spark/src/test/scala/cromwell/backend/impl/spark/SparkRuntimeAttributesSpec.scala
  supportedBackends/tes/src/main/scala/cromwell/backend/impl/tes/TesTask.scala
  wdl/model/draft2/src/test/scala/wdl/types/WomArrayTypeSpec.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/ExpressionElement.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/graph/expression/ValueEvaluator.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/AstNodeToExpressionElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/linking/expression/values/BinaryOperatorEvaluators.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/linking/expression/values/LiteralEvaluators.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/linking/expression/values/LookupEvaluators.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/linking/expression/values/TernaryIfEvaluator.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/linking/expression/values/UnaryOperatorEvaluators.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/linking/expression/values/package.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/wdlom2wom/expression/WdlomWomExpression.scala
  wdl/transforms/draft3/src/test/scala/wdl/draft3/transforms/ast2wdlom/ExpressionSet.scala
  wdl/transforms/draft3/src/test/scala/wdl/draft3/transforms/expression/MemberAccessValueEvaluatorSpec.scala
  wdl/transforms/draft3/src/test/scala/wdl/draft3/transforms/expression/TernaryIfEvaluatorSpec.scala
  wdl/transforms/draft3/src/test/scala/wdl/draft3/transforms/expression/UnaryAndBinaryOperatorsEvaluatorSpec.scala
  wom/src/main/scala/wom/expression/NoIoFunctionSet.scala
Labels: Red Thumb Required, WDL Team PR

#3358 Allow nested structs and member accesses
  centaur/src/main/resources/standardTestCases/draft3_nested_struct.test
  centaur/src/main/resources/standardTestCases/wdl_draft3/nested_struct/nested_struct.wdl
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/linking/expression/package.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/linking/expression/types/LookupEvaluators.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/linking/expression/types/package.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/wdlom2wom/FileElementToWomBundle.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/wdlom2wom/StructEvaluation.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/wdlom2wom/expression/WdlomWomExpression.scala
  wdl/transforms/draft3/src/test/cases/nested_struct.wdl
  wdl/transforms/draft3/src/test/scala/wdl/draft3/transforms/ast2wdlom/WdlFileToWdlomSpec.scala
  wdl/transforms/draft3/src/test/scala/wdl/draft3/transforms/wdlom2wom/WdlFileToWomSpec.scala
Labels: Red Thumb Required, WDL Team PR

#3364 Type evaluators
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/linking/expression/types/BinaryOperatorEvaluators.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/linking/expression/types/LiteralEvaluators.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/linking/expression/types/LookupEvaluators.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/linking/expression/types/TernaryIfEvaluator.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/linking/expression/types/UnaryOperatorEvaluators.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/linking/expression/types/package.scala
  wdl/transforms/draft3/src/test/scala/wdl/draft3/transforms/expression/MemberAccessTypeEvaluatorSpec.scala
  wdl/transforms/draft3/src/test/scala/wdl/draft3/transforms/expression/TernaryIfEvaluatorSpec.scala
  wdl/transforms/draft3/src/test/scala/wdl/draft3/transforms/expression/UnaryAndBinaryOperatorsEvaluatorSpec.scala
Labels: WDL Team PR

#3365 Scatter and if into WDLOM
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/IfElement.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/ScatterElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/AstToIfElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/AstToScatterElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/AstToWorkflowBodyElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/AstToWorkflowGraphNodeElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/EnhancedDraft3Ast.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/package.scala
  wdl/transforms/draft3/src/test/cases/simple_conditional.nowom.wdl
  wdl/transforms/draft3/src/test/cases/simple_scatter.nowom.wdl
  wdl/transforms/draft3/src/test/scala/wdl/draft3/transforms/ast2wdlom/WdlFileToWdlomSpec.scala
Labels: WDL Team PR

#3374 Adding simple scatter to WOM conversions
  wdl/model/draft3/src/main/scala/wdl/model/draft3/graph/GeneratedValueHandle.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/graph/LinkedGraph.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/graph/UnlinkedValueConsumer.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/graph/expression/WomExpressionMaker.scala
  wdl/transforms/draft2/src/main/scala/wdl/transforms/draft2/wdlom2wom/WdlDraft2WomGraphMaker.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/linking/expression/consumed/BinaryOperatorEvaluators.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/linking/expression/consumed/package.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/linking/expression/package.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/linking/graph/LinkedGraphMaker.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/linking/graph/package.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/wdlom2wom/WorkflowDefinitionElementToWomWorkflowDefinition.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/wdlom2wom/expression/WdlomWomExpression.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/wdlom2wom/graph/WorkflowGraphElementToGraphNode.scala
  wdl/transforms/draft3/src/test/cases/simple_scatter.wdl
  wdl/transforms/draft3/src/test/scala/wdl/draft3/transforms/wdlom2wom/WdlFileToWomSpec.scala
  wdl/transforms/shared/src/main/scala/wdl/shared/transforms/wdlom2wom/WomGraphMakerTools.scala
  wom/src/main/scala/wom/graph/GraphInputNode.scala
  wom/src/main/scala/wom/graph/expression/ExpressionNode.scala
Labels: Red Thumb Required, WDL Team PR

#3390 Short-circuit boolean OR and AND
  centaur/src/main/resources/standardTestCases/short_circuit.test
  centaur/src/main/resources/standardTestCases/short_circuit/short_circuit.wdl
  wdl/model/draft2/src/main/scala/wdl/draft2/model/expression/ValueEvaluator.scala
  wdl/model/draft2/src/test/scala/wdl/expression/ValueEvaluatorSpec.scala
  wom/src/main/scala/wom/values/WomBoolean.scala
Labels: Red Thumb Required, WDL Team PR

#3388 Nested scatters and OGIN lookups
  centaur/src/main/resources/standardTestCases/draft3_nested_scatter.test
  centaur/src/main/resources/standardTestCases/wdl_draft3/nested_scatter/nested_scatter.wdl
  core/src/test/scala/cromwell/util/WomMocks.scala
  cwl/src/main/scala/cwl/WorkflowStep.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/ScatterElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/AstToScatterElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/package.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/linking/graph/package.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/wdlom2wom/WorkflowDefinitionElementToWomWorkflowDefinition.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/wdlom2wom/graph/ScatterElementToGraphNode.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/wdlom2wom/graph/WorkflowGraphElementToGraphNode.scala
  wdl/transforms/draft3/src/test/cases/nested_scatter.wdl
  wdl/transforms/draft3/src/test/cases/ogin_scatter.wdl
  wdl/transforms/draft3/src/test/scala/wdl/draft3/transforms/ast2wdlom/WdlFileToWdlomSpec.scala
  wdl/transforms/draft3/src/test/scala/wdl/draft3/transforms/wdlom2wom/WdlFileToWomSpec.scala
  wdl/transforms/shared/src/main/scala/wdl/shared/transforms/wdlom2wom/WomGraphMakerTools.scala
  wom/src/main/scala/wom/graph/CallNode.scala
  womtool/src/main/scala/womtool/graph/WomGraph.scala
Labels: Red Thumb Required, WDL Team PR

#3395 Draft 3 conditionals to WOM
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/linking/graph/package.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/wdlom2wom/graph/IfElementToGraphNode.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/wdlom2wom/graph/WorkflowGraphElementToGraphNode.scala
  wdl/transforms/draft3/src/test/cases/simple_conditional.wdl
  wdl/transforms/draft3/src/test/scala/wdl/draft3/transforms/ast2wdlom/WdlFileToWdlomSpec.scala
  wom/src/main/scala/wom/graph/CallNode.scala
  wom/src/main/scala/wom/graph/GraphNode.scala
  wom/src/main/scala/wom/graph/ScatterNode.scala
Labels: Red Thumb Required, WDL Team PR

#3403 Lots of nesting centaur test
  centaur/src/main/resources/standardTestCases/draft3_lots_of_nesting.test
  centaur/src/main/resources/standardTestCases/wdl_draft3/lots_of_nesting/lots_of_nesting.wdl
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/ExpressionElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/AstNodeToExpressionElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/linking/expression/consumed/EngineFunctionEvaluators.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/linking/expression/consumed/package.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/linking/expression/types/EngineFunctionEvaluators.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/linking/expression/types/package.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/linking/expression/values/EngineFunctionEvaluators.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/linking/expression/values/package.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/linking/graph/package.scala
  wdl/transforms/draft3/src/test/cases/lots_of_nesting.wdl
  wdl/transforms/draft3/src/test/scala/wdl/draft3/transforms/ast2wdlom/WdlFileToWdlomSpec.scala
  wdl/transforms/draft3/src/test/scala/wdl/draft3/transforms/wdlom2wom/WdlFileToWomSpec.scala
Labels: WDL Team PR

#3416 Task definition with command element wdlom to wom
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/CommandPartElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/wdlom2wom/CommandPartElementToWomCommandPart.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/wdlom2wom/FileElementToWomBundle.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/wdlom2wom/TaskDefinitionElementToWomTaskDefinition.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/wdlom2wom/package.scala
  wdl/transforms/draft3/src/test/cases/simple_task.wdl
  wdl/transforms/draft3/src/test/cases/standalone_task.nowom.wdl
  wdl/transforms/draft3/src/test/scala/wdl/draft3/transforms/ast2wdlom/WdlFileToWdlomSpec.scala
  wdl/transforms/draft3/src/test/scala/wdl/draft3/transforms/wdlom2wom/WdlFileToWomSpec.scala
Labels: WDL Team PR

#3413 Taskless engine functions
  build.sbt
  centaur/src/main/resources/standardTestCases/draft3_taskless_engine_functions.test
  centaur/src/main/resources/standardTestCases/wdl_draft3/taskless_engine_functions/taskless_engine_functions.wdl
  wdl/model/draft2/src/main/scala/wdl/draft2/model/expression/WdlStandardLibraryFunctions.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/ExpressionElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/AstNodeToExpressionElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/linking/expression/consumed/EngineFunctionEvaluators.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/linking/expression/consumed/package.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/linking/expression/types/EngineFunctionEvaluators.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/linking/expression/types/package.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/linking/expression/values/EngineFunctionEvaluators.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/linking/expression/values/package.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/wdlom2wom/graph/WorkflowGraphElementToGraphNode.scala
  wdl/transforms/draft3/src/test/cases/taskless_engine_functions.wdl
  wdl/transforms/draft3/src/test/scala/wdl/draft3/transforms/ast2wdlom/WdlFileToWdlomSpec.scala
  wdl/transforms/draft3/src/test/scala/wdl/draft3/transforms/wdlom2wom/WdlFileToWomSpec.scala
  wdl/transforms/shared/src/main/scala/wdl/shared/transforms/evaluation/values/EngineFunctions.scala
  wom/src/main/scala/wom/types/coercion/WomTypeCoercer.scala
  wom/src/main/scala/wom/types/coercion/defaults/package.scala
  wom/src/main/scala/wom/types/coercion/ops/package.scala
Labels: Red Thumb Required, WDL Team PR

#3430 Parse scientific notation on numbers, some coercions from filled optionals.
  cwl/src/main/scala/cwl/CwlExpressionCommandPart.scala
  cwl/src/main/scala/cwl/preprocessor/CwlPreProcessor.scala
  engine/src/main/scala/cromwell/webservice/CromwellApiService.scala
  wom/src/main/scala/wom/callable/CommandTaskDefinition.scala
  wom/src/main/scala/wom/types/WomBooleanType.scala
  wom/src/main/scala/wom/types/WomIntegerLike.scala
  wom/src/main/scala/wom/types/WomIntegerType.scala
  wom/src/main/scala/wom/types/WomStringType.scala
  wom/src/main/scala/wom/types/WomType.scala
  wom/src/test/scala/wom/types/WomOptionalTypeSpec.scala
  wom/src/test/scala/wom/types/WomTypeSpec.scala
Labels: Please re-review now

#3434 Don't do the weird unzip thing
  CHANGELOG.md
  docs/Imports.md
  languageFactories/language-factory-core/src/main/scala/cromwell/languages/util/LanguageFactoryUtil.scala
Labels: Red Thumb Required

#3431 Allow struct imports
  backend/src/test/scala/cromwell/backend/BackendSpec.scala
  build.sbt
  centaur/src/main/resources/standardTestCases/draft3_import_structs.test
  centaur/src/main/resources/standardTestCases/wdl_draft3/import_structs/import_structs.wdl
  centaur/src/main/resources/standardTestCases/wdl_draft3/import_structs/structs.wdl
  common/src/main/scala/common/transforms/package.scala
  languageFactories/cwl-v1-0/src/main/scala/languages/cwl/CwlV1_0LanguageFactory.scala
  languageFactories/language-factory-core/src/main/scala/cromwell/languages/LanguageFactory.scala
  languageFactories/language-factory-core/src/main/scala/cromwell/languages/util/LanguageFactoryUtil.scala
  languageFactories/wdl-draft2/src/main/scala/languages/wdl/draft2/WdlDraft2LanguageFactory.scala
  languageFactories/wdl-draft3/src/main/scala/languages/wdl/draft3/WdlDraft3LanguageFactory.scala
  server/src/test/scala/cromwell/ArrayWorkflowSpec.scala
  server/src/test/scala/cromwell/DeclarationWorkflowSpec.scala
  server/src/test/scala/cromwell/MapWorkflowSpec.scala
  supportedBackends/jes/src/test/scala/cromwell/backend/impl/jes/JesAsyncBackendJobExecutionActorSpec.scala
  supportedBackends/spark/src/test/scala/cromwell/backend/impl/spark/SparkRuntimeAttributesSpec.scala
  wdl/model/draft2/src/main/scala/wdl/draft2/model/WdlNamespace.scala
  wdl/model/draft2/src/main/scala/wdl/draft2/model/package.scala
  wdl/model/draft2/src/test/scala/wdl/WdlWiringSpec.scala
  wdl/model/draft2/src/test/scala/wdl/WdlWorkflowHttpImportSpec.scala
  wdl/model/draft2/src/test/scala/wdl/WdlWorkflowImportsSpec.scala
  wdl/transforms/draft2/src/main/scala/wdl/transforms/draft2/wdlom2wom/WdlDraft2WomBundleMakers.scala
  wdl/transforms/draft2/src/main/scala/wdl/transforms/draft2/wdlom2wom/WdlDraft2WomExecutableMakers.scala
  wdl/transforms/draft2/src/test/scala/wdl/transforms/wdlwom/WdlSubworkflowWomSpec.scala
  wdl/transforms/draft3/src/main/java/wdl/draft3/parser/WdlParser.java
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/AstToCallElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/AstToImportElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/AstToScatterElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/EnhancedDraft3Ast.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/package.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/wdlom2wom/FileElementToWomBundle.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/wdlom2wom/package.scala
  wdl/transforms/draft3/src/test/scala/wdl/draft3/transforms/wdlom2wom/WdlFileToWomSpec.scala
  wom/src/main/scala/wom/transforms/WomExecutableMaker.scala
  womtool/src/main/scala/womtool/graph/WomGraph.scala
  womtool/src/test/scala/womtool/graph/OutputNameCollisionSpec.scala
Labels: Red Thumb Required, WDL Team PR

#3432 Allow struct aliasing on import
  centaur/src/main/resources/standardTestCases/draft3_import_structs.test
  centaur/src/main/resources/standardTestCases/wdl_draft3/import_structs/badly_named_struct.wdl
  centaur/src/main/resources/standardTestCases/wdl_draft3/import_structs/import_structs.wdl
  centaur/src/main/resources/standardTestCases/wdl_draft3/import_structs/structs.wdl
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/ImportElement.scala
  wdl/transforms/draft3/src/main/java/wdl/draft3/parser/WdlParser.java
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/AstToImportElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/wdlom2wom/FileElementToWomBundle.scala
Labels: WDL Team PR

#3439 Draft 3 size engine function
  backend/src/main/scala/cromwell/backend/RuntimeEnvironment.scala
  backend/src/main/scala/cromwell/backend/validation/MemoryValidation.scala
  backend/src/main/scala/cromwell/backend/validation/RuntimeAttributesValidation.scala
  backend/src/main/scala/cromwell/backend/wdl/ReadLikeFunctions.scala
  backend/src/test/scala/cromwell/backend/MemorySizeSpec.scala
  backend/src/test/scala/cromwell/backend/wdl/ReadLikeFunctionsSpec.scala
  cwl/src/test/scala/cwl/CommandLineToolSpec.scala
  cwl/src/test/scala/cwl/CommandOutputExpressionSpec.scala
  supportedBackends/jes/src/main/scala/cromwell/backend/impl/jes/JesRuntimeAttributes.scala
  supportedBackends/jes/src/test/scala/cromwell/backend/impl/jes/JesRuntimeAttributesSpec.scala
  supportedBackends/sfs/src/main/scala/cromwell/backend/impl/sfs/config/MemoryDeclarationValidation.scala
  supportedBackends/sfs/src/test/scala/cromwell/backend/impl/sfs/config/MemoryDeclarationValidationSpec.scala
  supportedBackends/spark/src/main/scala/cromwell/backend/impl/spark/SparkRuntimeAttributes.scala
  supportedBackends/spark/src/test/scala/cromwell/backend/impl/spark/SparkRuntimeAttributesSpec.scala
  supportedBackends/tes/src/main/scala/cromwell/backend/impl/tes/TesRuntimeAttributes.scala
  supportedBackends/tes/src/test/scala/cromwell/backend/impl/tes/TesRuntimeAttributesSpec.scala
  wdl/model/draft2/src/main/scala/wdl/draft2/model/WdlExpression.scala
  wdl/model/draft2/src/main/scala/wdl/draft2/model/expression/WdlStandardLibraryFunctions.scala
  wdl/model/draft2/src/test/scala/wdl/expression/Draft2SizeFunctionSpec.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/linking/expression/values/EngineFunctionEvaluators.scala
  wdl/transforms/draft3/src/test/scala/wdl/draft3/transforms/expression/values/Draft3SizeFunctionSpec.scala
  wom/src/main/scala/wom/expression/NoIoFunctionSet.scala
  wom/src/main/scala/wom/expression/WomExpression.scala
  wom/src/main/scala/wom/format/MemorySize.scala
  wom/src/main/scala/wom/types/coercion/defaults/package.scala
  wom/src/test/scala/wom/expression/PlaceholderWomExpression.scala
Labels: Red Thumb Required, WDL Team PR

#3444 Default input overriding
  centaur/src/main/resources/standardTestCases/draft3_default_input_overrides.test
  centaur/src/main/resources/standardTestCases/wdl_draft3/default_input_overrides/default_input_overrides.inputs.json
  centaur/src/main/resources/standardTestCases/wdl_draft3/default_input_overrides/default_input_overrides.wdl
  wdl/transforms/draft3/src/main/java/wdl/draft3/parser/WdlParser.java
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/linking/expression/values/EngineFunctionEvaluators.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/linking/expression/values/LookupEvaluators.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/wdlom2wom/graph/InputDeclarationElementToGraphNode.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/wdlom2wom/graph/WorkflowGraphElementToGraphNode.scala
  wdl/transforms/draft3/src/test/scala/wdl/draft3/transforms/ast2wdlom/WdlFileToWdlomSpec.scala
Labels: WDL Team PR

#3448 Fill in remaining task section conversions
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/CommandSectionElement.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/TaskDefinitionElement.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/graph/LinkedGraph.scala
  wdl/transforms/draft3/src/main/java/wdl/draft3/parser/WdlParser.java
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/AstToCommandSectionElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/AstToTaskDefinitionElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/linking/expression/consumed/EngineFunctionEvaluators.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/linking/expression/consumed/package.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/linking/graph/LinkedGraphMaker.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/wdlom2wom/CommandPartElementToWomCommandPart.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/wdlom2wom/FileElementToWomBundle.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/wdlom2wom/TaskDefinitionElementToWomTaskDefinition.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/wdlom2wom/WorkflowDefinitionElementToWomWorkflowDefinition.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/wdlom2wom/package.scala
  wdl/transforms/draft3/src/test/cases/command_syntaxes.wdl
  wdl/transforms/draft3/src/test/scala/wdl/draft3/transforms/ast2wdlom/WdlFileToWdlomSpec.scala
  wdl/transforms/draft3/src/test/scala/wdl/draft3/transforms/wdlom2wom/WdlFileToWomSpec.scala
Labels: WDL Team PR
