Repository broadinstitute/cromwell, pull requests merged in 2018-02, with the labels that each got.

#3265 Initial draft 3 objects and some new (ignored) tests
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/FileElement.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/ImportElement.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/LanguageElement.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/TaskDefinitionElement.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/WorkflowDefinitionElement.scala
  wdl/transforms/draft3/src/main/java/wdl/draft3/parser/WdlParser.java
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/AstFromAstNode.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/Draft3FileElementFromAst.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/Draft3ImportElementFromAst.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/Draft3TaskDefinitionElementFromAst.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/Draft3WorkflowDefinitionElementFromAst.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/EnhancedDraft3Ast.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/FromAst.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/FromAstNode.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/FromAtoB.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/package.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/parsing/WdlDraft3SyntaxErrorFormatter.scala
  wdl/transforms/draft3/src/test/cases/empty_workflow.wdl
  wdl/transforms/draft3/src/test/cases/passthrough_workflow.ignored.wdl
  wdl/transforms/draft3/src/test/cases/simpleFirstTest.ignored.wdl
  wdl/transforms/draft3/src/test/cases/static_value_workflow.ignored.wdl
  wdl/transforms/draft3/src/test/scala/wdl/draft3/transforms/ast2wdlom/WdlFileToWdlomSpec.scala
Labels: WDL Team PR

#3267 Initial conversions and tests from WDLOM to WOM
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/package.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/parsing/Draft3Parser.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/wdlom2wom/FileElementToWomExecutable.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/wdlom2wom/WorkflowDefinitionElementToWomWorkflowDefinition.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/wdlom2wom/package.scala
  wdl/transforms/draft3/src/test/scala/wdl/draft3/transforms/ast2wdlom/WdlFileToWdlomSpec.scala
  wdl/transforms/draft3/src/test/scala/wdl/draft3/transforms/wdlom2wom/FileElementToWomExecutableSpec.scala
  wdl/transforms/draft3/src/test/scala/wdl/draft3/transforms/wdlom2wom/WdlFileToWomSpec.scala
  wdl/transforms/draft3/src/test/scala/wdl/draft3/transforms/wdlom2wom/WorkflowDefinitionElementToWomWorkflowDefinitionSpec.scala
Labels: WDL Team PR

#3274 Require version declaration, remove wildcard outputs
  wdl/transforms/draft3/src/main/java/wdl/draft3/parser/WdlParser.java
  wdl/transforms/draft3/src/test/cases/empty_workflow.wdl
  wdl/transforms/draft3/src/test/cases/passthrough_workflow.ignored.wdl
  wdl/transforms/draft3/src/test/cases/simpleFirstTest.ignored.wdl
  wdl/transforms/draft3/src/test/cases/static_value_workflow.ignored.wdl
Labels: WDL Team PR

#3278 1, 2, 3, Kleisli!
  common/src/main/scala/common/transforms/package.scala
  wdl/transforms/draft2/src/main/scala/wdl/transforms/draft2/wdlom2wom/WdlDraft2WomExecutableMaker.scala
  wdl/transforms/draft2/src/test/scala/wdl/transforms/wdlwom/WdlInputValidationSpec.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/AstFromAstNode.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/CheckedAstToFileElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/CheckedAstToImportElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/CheckedAstToTaskDefinitionElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/CheckedAstToWorkflowDefinitionElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/Draft3ImportElementFromAst.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/Draft3TaskDefinitionElementFromAst.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/EnhancedDraft3Ast.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/FromAst.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/FromAstNode.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/FromAtoB.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/package.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/parsing/Draft3Parser.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/parsing/package.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/wdlom2wom/FileElementToWomExecutable.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/wdlom2wom/WorkflowDefinitionElementToWomWorkflowDefinition.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/wdlom2wom/package.scala
  wdl/transforms/draft3/src/test/scala/wdl/draft3/transforms/ast2wdlom/WdlFileToWdlomSpec.scala
  wdl/transforms/draft3/src/test/scala/wdl/draft3/transforms/wdlom2wom/WdlFileToWomSpec.scala
  wdl/transforms/draft3/src/test/scala/wdl/draft3/transforms/wdlom2wom/WorkflowDefinitionElementToWomWorkflowDefinitionSpec.scala
  wom/src/main/scala/wom/transforms/WomExecutableMaker.scala
Labels: WDL Team PR

#3255 CWL WOM graph revamp
  cwl/src/main/scala/cwl/MyriadInputTypeToSortedCommandParts.scala
  cwl/src/main/scala/cwl/ScatterLogic.scala
  cwl/src/main/scala/cwl/WorkflowStep.scala
  cwl/src/main/scala/cwl/WorkflowStepInput.scala
  cwl/src/main/scala/cwl/WorkflowStepInputExpression.scala
  cwl/src/main/scala/cwl/WorkflowStepInputMergeExpression.scala
  cwl/src/main/scala/cwl/model.scala
  cwl/src/test/scala/cwl/CommandLineToolSpec.scala
  cwl/src/test/scala/cwl/CwlWorkflowWomSpec.scala
  cwl/src/test/scala/cwl/WorkflowStepInputExpressionSpec.scala
  cwl/src/test/scala/cwl/WorkflowStepInputSpec.scala
  engine/src/main/scala/cromwell/engine/workflow/lifecycle/execution/keys/ConditionalKey.scala
  engine/src/main/scala/cromwell/engine/workflow/lifecycle/execution/keys/ExpressionKey.scala
  engine/src/main/scala/cromwell/engine/workflow/lifecycle/execution/keys/ScatterKey.scala
  src/bin/travis/resources/local_conformance_expected_failures.txt
  src/bin/travis/resources/papi_conformance_expected_failures.txt
  wdl/model/draft2/src/main/scala/wdl/draft2/model/Declaration.scala
  wdl/transforms/draft2/src/main/scala/wdl/transforms/draft2/wdlom2wom/WdlDraft2WomCallNodeMaker.scala
  wdl/transforms/draft2/src/test/scala/wdl/transforms/wdlwom/WdlScatterWomSpec.scala
  wom/src/main/scala/wom/graph/ConditionalNode.scala
  wom/src/main/scala/wom/graph/GraphInputNode.scala
  wom/src/main/scala/wom/graph/GraphNodeWithSingleOutputPort.scala
  wom/src/main/scala/wom/graph/GraphOutputNode.scala
  wom/src/main/scala/wom/graph/ScatterNode.scala
  wom/src/main/scala/wom/graph/expression/ExpressionNode.scala
  wom/src/test/scala/wom/graph/ExpressionAsCallInputSpec.scala
  wom/src/test/scala/wom/graph/ExpressionNodeSpec.scala
  womtool/src/test/scala/womtool/graph/ExpressionNodeSpec.scala
Labels: Please re-review now

#3273 Added workflow output case classes
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/WorkflowDefinitionElement.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/WorkflowOutputDeclarationElement.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/WorkflowOutputsElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/CheckedAstToWorkflowDefinitionElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/CheckedAstToWorkflowOutputDeclarationElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/CheckedAstToWorkflowOutputsElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/EnhancedDraft3Ast.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/package.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/wdlom2wom/WorkflowDefinitionElementToWomWorkflowDefinition.scala
  wdl/transforms/draft3/src/test/cases/static_value_workflow.wdl
  wdl/transforms/draft3/src/test/scala/wdl/draft3/transforms/ast2wdlom/WdlFileToWdlomSpec.scala
  wdl/transforms/draft3/src/test/scala/wdl/draft3/transforms/wdlom2wom/WorkflowDefinitionElementToWomWorkflowDefinitionSpec.scala
Labels: WDL Team PR

#3283 Case classes and conversions into workflow inputs
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/FileElement.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/ImportElement.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/InputDeclarationElement.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/InputsSectionElement.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/LanguageElement.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/OutputElement.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/OutputsSectionElement.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/TaskDefinitionElement.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/TypeElement.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/WorkflowDefinitionElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/AstNodeToTypeElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/AstToInputDeclarationElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/AstToInputsSectionElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/CheckedAstToFileElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/CheckedAstToWorkflowDefinitionElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/EnhancedDraft3Ast.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/package.scala
  wdl/transforms/draft3/src/test/cases/input_types.nowom.wdl
  wdl/transforms/draft3/src/test/scala/wdl/draft3/transforms/ast2wdlom/WdlFileToWdlomSpec.scala
  wdl/transforms/draft3/src/test/scala/wdl/draft3/transforms/wdlom2wom/FileElementToWomExecutableSpec.scala
  wdl/transforms/draft3/src/test/scala/wdl/draft3/transforms/wdlom2wom/WorkflowDefinitionElementToWomWorkflowDefinitionSpec.scala
Labels: WDL Team PR

#3285 WDLOM expression elements
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/ExpressionElement.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/InputsSectionElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/AstNodeToExpressionElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/AstToInputDeclarationElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/CheckedAstToWorkflowDefinitionElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/EnhancedDraft3Ast.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/package.scala
  wdl/transforms/draft3/src/test/cases/input_expressions.nowom.wdl
  wdl/transforms/draft3/src/test/cases/input_values.nowom.wdl
  wdl/transforms/draft3/src/test/scala/wdl/draft3/transforms/ast2wdlom/WdlFileToWdlomSpec.scala
Labels: WDL Team PR

#3296 Workflow and task body element super type
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/InputsSectionElement.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/OutputDeclarationElement.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/OutputElement.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/OutputsSectionElement.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/TaskBodyElement.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/WorkflowBodyElement.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/WorkflowDefinitionElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/AstToFileElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/AstToImportElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/AstToOutputDeclarationElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/AstToOutputsSectionElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/AstToTaskBodyElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/AstToTaskDefinitionElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/AstToWorkflowBodyElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/AstToWorkflowDefinitionElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/CheckedAstToOutputElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/CheckedAstToOutputsSectionElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/CheckedAstToWorkflowDefinitionElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/package.scala
  wdl/transforms/draft3/src/test/scala/wdl/draft3/transforms/ast2wdlom/WdlFileToWdlomSpec.scala
Labels: WDL Team PR

#3300 Fix scala 2.11 build
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/AstToOutputsSectionElement.scala
Labels: WDL Team PR

#3304 FileBodyElement supertype and FileElement conversion
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/FileBodyElement.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/TaskBodyElement.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/TaskDefinitionElement.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/WorkflowBodyElement.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/WorkflowDefinitionElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/AstToFileBodyElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/AstToFileElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/AstToWorkflowDefinitionElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/EnhancedDraft3Ast.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/package.scala
Labels: WDL Team PR

#3299 AST to Expression logic
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/DeclarationElement.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/ExpressionElement.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/OutputDeclarationElement.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/OutputsSectionElement.scala
  wdl/transforms/draft3/src/main/java/wdl/draft3/parser/WdlParser.java
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/AstNodeToExpressionElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/AstNodeToKvPair.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/AstToOutputDeclarationElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/AstToOutputsSectionElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/package.scala
  wdl/transforms/draft3/src/test/cases/input_expressions.nowom.wdl
  wdl/transforms/draft3/src/test/cases/input_values.nowom.wdl
  wdl/transforms/draft3/src/test/cases/passthrough_workflow.wdl
  wdl/transforms/draft3/src/test/scala/wdl/draft3/transforms/ast2wdlom/ExpressionSet.scala
  wdl/transforms/draft3/src/test/scala/wdl/draft3/transforms/ast2wdlom/WdlFileToWdlomSpec.scala
Labels: WDL Team PR

#3302 Split Declaration types and give them expressions
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/DeclarationElement.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/InputDeclarationElement.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/OutputsSectionElement.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/WorkflowDefinitionElement.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/WorkflowGraphNodeElement.scala
  wdl/transforms/draft3/src/main/java/wdl/draft3/parser/WdlParser.java
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/AstToDeclarationContent.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/AstToOutputsSectionElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/AstToTaskBodyElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/AstToWorkflowBodyElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/AstToWorkflowDefinitionElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/package.scala
  wdl/transforms/draft3/src/test/cases/passthrough_workflow.wdl
  wdl/transforms/draft3/src/test/scala/wdl/draft3/transforms/ast2wdlom/WdlFileToWdlomSpec.scala
Labels: WDL Team PR

#3303 Remove unused 'declarations' field from WorkflowDefinition
  core/src/test/scala/cromwell/util/WomMocks.scala
  cwl/src/main/scala/cwl/Workflow.scala
  wdl/transforms/draft2/src/main/scala/wdl/transforms/draft2/wdlom2wom/WdlDraft2WomWorkflowDefinitionMaker.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/wdlom2wom/WorkflowDefinitionElementToWomWorkflowDefinition.scala
  wom/src/main/scala/wom/callable/WorkflowDefinition.scala
  wom/src/test/scala/wom/graph/GraphSpec.scala
Labels: Red Thumb Required

#3312 Allow placeholders in all String expressions
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/ExpressionElement.scala
  wdl/transforms/draft3/src/main/java/wdl/draft3/parser/WdlParser.java
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/AstNodeToExpressionElement.scala
  wdl/transforms/draft3/src/test/cases/input_values.nowom.wdl
  wdl/transforms/draft3/src/test/scala/wdl/draft3/transforms/ast2wdlom/ExpressionSet.scala
  wdl/transforms/draft3/src/test/scala/wdl/draft3/transforms/ast2wdlom/WdlFileToWdlomSpec.scala
Labels: WDL Team PR

#3310 Struct definitions as WDLOM elements
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/FileElement.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/StructElement.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/TypeElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/AstNodeToTypeElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/AstToFileBodyElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/AstToFileElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/AstToStructElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/package.scala
  wdl/transforms/draft3/src/test/cases/struct_definition.nowom.wdl
  wdl/transforms/draft3/src/test/scala/wdl/draft3/transforms/ast2wdlom/WdlFileToWdlomSpec.scala
Labels: WDL Team PR

#3307 Declarations and outputs wired up as a linked graph
  centaur/src/main/resources/standardTestCases/draft3_declaration_chain.test
  centaur/src/main/resources/standardTestCases/wdl_draft3/declaration_chain/declaration_chain.wdl
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/DeclarationElement.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/WorkflowDefinitionElement.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/WorkflowGraphElement.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/graph/GeneratedValueHandle.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/graph/LinkedGraph.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/graph/UnlinkedConsumedValueHook.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/graph/UnlinkedValueConsumer.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/graph/UnlinkedValueGenerator.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/graph/expression/TypeEvaluator.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/graph/expression/ValueEvaluator.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/graph/expression/WomExpressionMaker.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/graph/expression/WomTypeMaker.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/AstToWorkflowDefinitionElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/linking/expression/package.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/linking/expression/types/package.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/linking/expression/values/package.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/linking/graph/LinkedGraphMaker.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/linking/graph/package.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/linking/typemakers/package.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/wdlom2wom/FileElementToWomExecutable.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/wdlom2wom/WorkflowDefinitionElementToWomWorkflowDefinition.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/wdlom2wom/expression/WdlomWomExpression.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/wdlom2wom/graph/WorkflowGraphElementToGraphNode.scala
  wdl/transforms/draft3/src/test/cases/declaration_chain.wdl
  wdl/transforms/draft3/src/test/scala/wdl/draft3/transforms/ast2wdlom/WdlFileToWdlomSpec.scala
Labels: Red Thumb Required, WDL Team PR

#3308 Task Definition AST to WDLOM conversion
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/CommandPartElement.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/CommandSectionElement.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/DeclarationElement.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/FileElement.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/ImportElement.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/InputsSectionElement.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/OutputsSectionElement.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/RuntimeAttributesSectionElement.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/TaskDefinitionElement.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/TaskSectionElement.scala
  wdl/model/draft3/src/main/scala/wdl/model/draft3/elements/WorkflowDefinitionElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/AstNodeToCommandPartElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/AstNodeToExpressionElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/AstNodeToKvPair.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/AstToCommandSectionElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/AstToRuntimeAttributesSectionElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/AstToTaskDefinitionElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/AstToTaskSectionElement.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/ast2wdlom/package.scala
  wdl/transforms/draft3/src/test/cases/simple_first_test.ignored.wdl
  wdl/transforms/draft3/src/test/cases/standalone_task.nowom.wdl
  wdl/transforms/draft3/src/test/scala/wdl/draft3/transforms/ast2wdlom/WdlFileToWdlomSpec.scala
Labels: WDL Team PR

#3323 Womtool graph for draft 3
  backend/src/test/scala/cromwell/backend/BackendSpec.scala
  build.sbt
  centaur/src/main/resources/standardTestCases/draft3_passthrough_value.test
  centaur/src/main/resources/standardTestCases/wdl_draft3/passthrough_value/passthrough_value.inputs.json
  centaur/src/main/resources/standardTestCases/wdl_draft3/passthrough_value/passthrough_value.wdl
  engine/src/test/scala/cromwell/engine/workflow/lifecycle/execution/ExecutionStoreBenchmark.scala
  languageFactories/cwl-v1-0/src/main/scala/languages/cwl/CwlV1_0LanguageFactory.scala
  languageFactories/language-factory-core/src/main/scala/cromwell/languages/LanguageFactory.scala
  languageFactories/wdl-draft2/src/main/scala/languages/wdl/draft2/WdlDraft2LanguageFactory.scala
  languageFactories/wdl-draft3/src/main/scala/languages/wdl/draft3/WdlDraft3LanguageFactory.scala
  supportedBackends/jes/src/test/scala/cromwell/backend/impl/jes/JesAsyncBackendJobExecutionActorSpec.scala
  wdl/transforms/draft2/src/main/scala/wdl/transforms/draft2/wdlom2wom/WdlDraft2InputParsing.scala
  wdl/transforms/draft2/src/main/scala/wdl/transforms/draft2/wdlom2wom/WdlDraft2WomBundleMakers.scala
  wdl/transforms/draft2/src/main/scala/wdl/transforms/draft2/wdlom2wom/WdlDraft2WomExecutableMaker.scala
  wdl/transforms/draft2/src/main/scala/wdl/transforms/draft2/wdlom2wom/WdlDraft2WomExecutableMakers.scala
  wdl/transforms/draft2/src/main/scala/wdl/transforms/draft2/wdlom2wom/package.scala
  wdl/transforms/draft2/src/test/scala/wdl/transforms/wdlwom/WdlInputValidationSpec.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/parsing/package.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/wdlom2wom/FileElementToWomBundle.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/wdlom2wom/FileElementToWomExecutable.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/wdlom2wom/WomBundleToWomExecutable.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/wdlom2wom/graph/WorkflowGraphElementToGraphNode.scala
  wdl/transforms/draft3/src/main/scala/wdl/draft3/transforms/wdlom2wom/package.scala
  wdl/transforms/draft3/src/test/scala/wdl/draft3/transforms/wdlom2wom/WdlFileToWomSpec.scala
  wdl/transforms/shared/src/main/scala/wdl/shared/transforms/wdlom2wom/WdlSharedInputParsing.scala
  wom/src/main/scala/wom/executable/WomBundle.scala
  wom/src/main/scala/wom/transforms/WomExecutableMaker.scala
  womtool/src/main/scala/womtool/graph/WomGraph.scala
  womtool/src/test/scala/womtool/graph/OutputNameCollisionSpec.scala
Labels: Red Thumb Required, WDL Team PR

#3281 Wom Coproduct Type
  core/src/main/scala/cromwell/util/JsonFormatting/WomValueJsonFormatter.scala
  cwl/src/main/scala/cwl/MyriadInputTypeToWomType.scala
  cwl/src/main/scala/cwl/MyriadOutputTypeToWomType.scala
  cwl/src/main/scala/cwl/internal/EcmaScriptEncoder.scala
  cwl/src/test/scala/cwl/WomTypeConversionSpec.scala
  src/bin/travis/resources/local_conformance_expected_failures.txt
  src/bin/travis/resources/papi_conformance_expected_failures.txt
  wdl/model/draft2/src/main/scala/wdl/draft2/model/expression/TypeEvaluator.scala
  wdl/model/draft2/src/test/scala/wdl/expression/TypeEvaluatorSpec.scala
  wom/src/main/scala/wom/types/WomAnyType.scala
  wom/src/main/scala/wom/types/WomArrayType.scala
  wom/src/main/scala/wom/types/WomBooleanType.scala
  wom/src/main/scala/wom/types/WomCoproductType.scala
  wom/src/main/scala/wom/types/WomFileType.scala
  wom/src/main/scala/wom/types/WomFloatType.scala
  wom/src/main/scala/wom/types/WomIntegerType.scala
  wom/src/main/scala/wom/types/WomOptionalType.scala
  wom/src/main/scala/wom/types/WomStringType.scala
  wom/src/main/scala/wom/types/WomType.scala
  wom/src/main/scala/wom/values/WomCoproductValue.scala
  wom/src/main/scala/wom/values/WomOptionalValue.scala
  wom/src/test/scala/wom/types/WomCoproductSpec.scala
  wom/src/test/scala/wom/types/WomFileTypeSpec.scala
Labels: Please re-review now
