Repository broadinstitute/cromwell, pull requests merged in 2024-07, with the labels that each got.

#7464 WX-1595 GCP Batch: Fix metadata pulling from private GCR
  CHANGELOG.md
  supportedBackends/google/batch/src/main/scala/cromwell/backend/google/batch/GcpBatchBackendLifecycleActorFactory.scala
Labels: GCP Batch

#7447 WX-1595 Fix broken links in SLURM doc
  docs/backends/SLURM.md
Labels: Docs

#7457 WX-1595 Refactor the preemption error handling from GCP Batch backend
  CHANGELOG.md
  supportedBackends/google/batch/src/main/scala/cromwell/backend/google/batch/GcpBatchBackendLifecycleActorFactory.scala
  supportedBackends/google/batch/src/main/scala/cromwell/backend/google/batch/actors/GcpBatchAsyncBackendJobExecutionActor.scala
  supportedBackends/google/batch/src/main/scala/cromwell/backend/google/batch/actors/GcpBatchJobCachingActorHelper.scala
  supportedBackends/google/batch/src/main/scala/cromwell/backend/google/batch/api/GcpBatchRequestFactory.scala
  supportedBackends/google/batch/src/main/scala/cromwell/backend/google/batch/api/request/BatchRequestExecutor.scala
  supportedBackends/google/batch/src/main/scala/cromwell/backend/google/batch/models/GcpBatchExitCode.scala
  supportedBackends/google/batch/src/main/scala/cromwell/backend/google/batch/models/GcpBatchRuntimeAttributes.scala
  supportedBackends/google/batch/src/main/scala/cromwell/backend/google/batch/models/PreviousRetryReasons.scala
  supportedBackends/google/batch/src/main/scala/cromwell/backend/google/batch/models/RunStatus.scala
  supportedBackends/google/batch/src/test/scala/cromwell/backend/google/batch/actors/GcpBatchAsyncBackendJobExecutionActorSpec.scala
  supportedBackends/google/batch/src/test/scala/cromwell/backend/google/batch/models/GcpBatchExitCodeSpec.scala
Labels: GCP Batch

#7466 WX-1595 Fix batch workflow options override
  CHANGELOG.md
  supportedBackends/google/batch/src/main/scala/cromwell/backend/google/batch/api/GcpBatchRequestFactoryImpl.scala
Labels: CI Clone :woman: :woman:, GCP Batch
